h3 {
    margin: 20px 0;
}

.content {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview a {
    text-decoration: none;
}

.blog-preview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.del button {
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    background: rgb(230, 22, 22);
    color: #fff;
    border-radius: 4px;
    margin-left: 10px;

}


/* Blog detail */
.blog-details h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 10px;
}

.blog-details div {
    margin: 20px 0;
}

.blog-details button {
    background: #f1356d;
    color: #fff;
    border: 0;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
}